.el{
    height: 78px;
}
.element {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    -webkit-transition: background-color 3s;
    transition: background-color 3s;
}

/*.el:hover{--c:blue;}*/

/*.element:hover{background-color: #25cff2;}*/
.border-start{
    height: 58em;
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;
}