<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"
          integrity="" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='images/ico2.png')}}" type="image/png">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js')}}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <link href="{{ url_for('static', filename='css/style_for_math.css')}}" rel="stylesheet">

</head>
<body>
<form action="/math/task_1" method="post">
<div class="input-group px-3 py-3">
    <span class="input-group-text" id="basic-addon1">f(x) = </span>
    <input type="text" class="form-control" placeholder="Значение функции" aria-label="Username" aria-describedby="basic-addon1" name="line">
    <button type="submit" class="btn btn-primary" id="decide-button">Решить</button>
</div>
</form>
<div class="px-3">
    <div class="border rounded">
        <p class="text-center px-3 pt-3"> Пример ввода:</p>
        <div class="d-flex justify-content-evenly">
            <p class="text-center px-3 pt-3"> x ** 2 <br>sqrt(x) <br> 2 * x<br> ln(x)<br> log(100, 10)<br> exp(x) </p>
            <div>
                $$x ^ 2$$
                $$\sqrt{x}$$
                $$2x$$
                $$\ln{x}$$
                $$\log_{10} 100$$
                $$e ^ x$$
            </div>
        </div>
    </div>
</div>
<div class="px-3 py-1">
    <button type="button" class="btn btn-outline-info" onclick='document.location.replace("/")'>Вернутся на главный экран</button>
</div>
<footer class="py-2 d-flex justify-content-center" id='footer'>
    <a href="https://github.com/Cynep-SU">
        <img src="{{ url_for('static', filename='images/pankoff.png')}}" alt="HTML tutorial"
             style="width:78px;height:78px;">
    </a>
</footer>
</body>
<script src="js/bootstrap.bundle.min.js"
        integrity=""
        crossorigin="anonymous"></script>
</html>